<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246498824596-b3cu10rjs22llm6vk4sb7pi0blega0fe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246498824596-b3cu10rjs22llm6vk4sb7pi0blega0fe</string>
	<key>API_KEY</key>
	<string>AIzaSyA-cr2Lnbx_JWqv49kYWD7usMh6t0I83V8</string>
	<key>GCM_SENDER_ID</key>
	<string>246498824596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scoutingApp2023</string>
	<key>PROJECT_ID</key>
	<string>firescout3824</string>
	<key>STORAGE_BUCKET</key>
	<string>firescout3824.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:246498824596:ios:f6473067d14216059d3f81</string>
	<key>DATABASE_URL</key>
	<string>https://firescout3824-default-rtdb.firebaseio.com</string>
</dict>
</plist>
